 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f4f4f4;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: beige;
      border-radius: 20px;
      padding: 30px;
      margin: 50px auto;
      width: 90%;
      max-width: 1100px;
      color: #000;
    }

    .container img {
      max-width: 300px;
      border-radius: 10px;
    }

    .text-section {
      margin-left: 40px;
      max-width: 600px;
    }

    h2 {
      margin: 0 0 10px 0;
      font-size: 1.8rem;
    }

    p {
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.5;
    }

 .contactForm{
  background: #fff;
 }
 
 .card-img-top {
  width: 100%;
  height: 300px;          /* Altura fija */
  object-fit: contain;     /* La imagen completa dentro del área */
  background-color: #f8f9fa; /* Color de fondo si no ocupa todo el espacio */
}

.card-body {
  height: 150px;           /* Altura fija para el contenido */
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
  width: 100%;
}

.card-footer > div {
  width: 50%;                  /* Cada uno ocupa la mitad */
  display: flex;
  justify-content: center;      /* Centrado horizontal */
  align-items: center;          /* Centrado vertical */
}